<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Vibur" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,500" rel="stylesheet">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="../static/css/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cookie">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src='../static/js/jquery.js'></script>
    <script src="//d3js.org/d3.v4.min.js"></script>
    <script src="https://d3js.org/d3-scale.v2.min.js"></script>
    <script src="https://d3js.org/d3-color.v1.min.js"></script>
    <script src="https://d3js.org/d3-interpolate.v1.min.js"></script>
    <script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
    <script>
        submitForms = function(){
        document.getElementById("user_input1").submit();
        document.getElementById("user_input2").submit();
    }
    </script>
    <script>
    $(document).ready(function(){
      $("#content").load('../static/courseviz.html');
    });
    </script>
    <style>

body, h1, h2, h3, h4 {
  font-family: Quicksand;
}

.topnav {
    background-color: #555;
    overflow: hidden;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 16px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: Quicksand;
}

.topnav a:hover {
  background-color: #aaa;
  color: black;
}

.topnav-right {
  float: right;
}

.intro {
  background-color:#00aadd;
  margin-top: 0px;
  padding-top: 200px;
  padding-bottom: 200px;
}

.ldaplot{
  padding: 20px;
  font-family: Quicksand;
}

.container{
  padding: 20px;
  font-family: Quicksand;
}


</style>
</head>

<body>

  <div class="topnav">
    <a href="#"><b>uniquely qualified</b></a>
    <div class="topnav-right">
      <a href="#about">About</a>
      <a href="#topics">Topics</a>
    </div>
  </div>

     <!-- Try Section -->
    <section class="bg-primary mb-0" id="try">
      <div class="container">
        <h2 class="text-center text-white">Enter degree below:</h2>
        <hr class="star-light mb-5">
              <div class="col-sm m-3 text-center">
                    <form action="/output" method="GET" id="user_input">
                          <input class="form-control" type="text" id="user_input" name='user_input' placeholder="e.g. Accounting">
                    </form>
              </div>
       <div class="row justify-content-center">
             <button type="submit" class="btn btn-secondary btn-lg" form="user_input">Go!</button>
      </div>

      {% if my_form_result=='Empty' %}
      <div class="row mt-4 justify-content-center">
            <h4 class="text-danger text-center text-uppercase">You did not type anything!</h4>
      </div>

      {% elif my_form_result=='NotEmpty' %}

      <div class="row p-1 m-1 justify-content-center">
            <div class="col-md- w-50 list-group">
                   <ul class="list-group">
                   <h4 class="text-center">
                    <span class="badge badge-primary badge-pill">Potential career paths for {{my_input}} majors:</span>

                        </h4>
                  </ul>
            </div>
            <div class="col">
            <img src={{my_output}} width=800 height=500>
            </div>
            <div class="col-md- w-50 list-group">
                   <ul class="list-group">
                   <h4 class="text-center">
                   <span class="badge badge-primary badge-pill">Unconventional jobs using a similar skillset:</span>
                   <li class="list-group-item d-flex justify-content-between align-items-center active">{{job1}}
                   </li>
                   <li class="list-group-item d-flex justify-content-between align-items-center active">{{job2}}
                   </li>
                   <li class="list-group-item d-flex justify-content-between align-items-center active">{{job3}}
                   </li>
                   <li class="list-group-item d-flex justify-content-between align-items-center active">{{job4}}
                   </li>
                   <li class="list-group-item d-flex justify-content-between align-items-center active">{{job5}}
                   </li>
                   <li class="list-group-item d-flex justify-content-between align-items-center active">{{job6}}
                   </li>
                   <li class="list-group-item d-flex justify-content-between align-items-center active">{{job7}}
                   </li>
                   <li class="list-group-item d-flex justify-content-between align-items-center active">{{job8}}
                   </li>
                   <li class="list-group-item d-flex justify-content-between align-items-center active">{{job9}}
                   </li>
                   <li class="list-group-item d-flex justify-content-between align-items-center active">{{job10}}
                   </li>


                        </h4>
                  </ul>
            </div>
      </div>


      {% else %}
      {% endif %}
      </div>
    </section>





  </body>


</html>
