<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Uniquely qualified</title>

  <!-- Bootstrap core CSS -->
  <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

  <!-- Custom styles for this template -->
  <link href="static/css/clean-blog.min.css" rel="stylesheet">

  <!-- plotly Dash -->
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand" href="index.html">Uniquely qualified</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="index.html">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="about.html">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="contact.html">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('static/img/home-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Uniquely qualified</h1>
            <span class="subheading">An app for career discovery</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="post-preview">
          <a>
            <h3 class="post-subtitle">
              Type in your degree below to start your career exploration journey
            </h3>
          </a>
              <p class="post-meta">
                  <form action="/suggestions" method="GET" id="user_input">
                        <input class="form-control" type="text" id="user_input" name='user_input' placeholder="e.g. 'Accounting'">
                  </form>
              </p>
                 <div class="clearfix">
                       <button type="submit" class="btn btn-primary float-right" form="user_input">Explore</button>
                </div>

          {% if my_form_result=='Empty' %}
          <div class="row mt-4 justify-content-center">
                <h4 class="text-danger text-center text-uppercase">You did not type anything!</h4>
          </div>

          {% elif my_form_result=='NotEmpty' %}

          <section class="map-section bg-black" id="map">
              <div class="row justify-content-center no-gutters mt-0">
                  <div class="chart" id="bargraph">
                      <script>
                          var graphs = {{sankey | safe}};
                      </script>
                  </div>
              </div>
          </section>

          <!-- Results -->
          <hr>

          <a>
            <h2 class="post-title">Have you ever considered a career in any of the following areas?
            </h2>
            <h3 class="post-subtitle">(Click each item below to find out more)
            </h3>
            <li>
              <form action="/job-details" method="POST"><button class="btn" type="submit" name="job" value="{{job1}}">{{job1}}</button></form>
            </li>
            <li>
              <form action="/job-details" method="POST"><button class="btn" type="submit" name="job" value="{{job2}}">{{job2}}</button></form>
            </li>
            <li>
              <form action="/job-details" method="POST"><button class="btn" type="submit" name="job" value="{{job3}}">{{job3}}</button></form>
            </li>
            <li>
              <form action="/job-details" method="POST"><button class="btn" type="submit" name="job" value="{{job4}}">{{job4}}</button></form>
            </li>
            <li>
              <form action="/job-details" method="POST"><button class="btn" type="submit" name="job" value="{{job5}}">{{job5}}</button></form>
            </li>
            <li>
              <form action="/job-details" method="POST"><button class="btn" type="submit" name="job" value="{{job6}}">{{job6}}</button></form>
            </li>
            <li>
              <form action="/job-details" method="POST"><button class="btn" type="submit" name="job" value="{{job7}}">{{job7}}</button></form>
            </li>
            <li>
              <form action="/job-details" method="POST"><button class="btn" type="submit" name="job" value="{{job8}}">{{job8}}</button></form>
            </li>
            <li>
              <form action="/job-details" method="POST"><button class="btn" type="submit" name="job" value="{{job9}}">{{job9}}</button></form>
            </li>
            <li>
              <form action="/job-details" method="POST"><button class="btn" type="submit" name="job" value="{{job10}}">{{job10}}</button></form>
            </li>
          </a>

          {% else %}
          {% endif %}

          {% if button_result=='Empty' %}
          <div class="row mt-4 justify-content-center">
                <h4 class="text-danger text-center text-uppercase">You did not type anything!</h4>
          </div>

          {% elif button_result=='NotEmpty' %}

          <div class="post-preview">
          <a>
            <h2 class="post-title">
              {{interest_job}}
            </h2>

            <div class="row">
              <div class="column">

                <h3 class="post-subtitle">Skills from {{degree}}</h3>
                  {% for skill in edu_skills%}
                  <li>
                  {{ skill }}
                  </li>
                  {% endfor %}
                </div>

                <hr>

              <div class="column">
                <h3 class="post-subtitle">Skills for {{interest_job}}</h3>
                  {% for skill in job_skills%}
                  <li>
                  {{ skill }}
                  </li>
                  {% endfor %}
                </div>

                <hr>
            </div>
            <h3 class="post-subtitle">Skills to work on</h3>
            {% for each in new_skills %}
            <li>
            {{ each }}
            </li>
            {% endfor %}
          </a>
          </div>

          {% else %}
          {% endif %}

        </div>
        </div>
      </div>
    </div>
  </div>

  <hr>

  <!-- Footer -->
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <ul class="list-inline text-center">
            <li class="list-inline-item">
              <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
          </ul>
          <p class="copyright text-muted">Copyright &copy; Amanda Fleury 2020</p>
        </div>
      </div>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="static/vendor/jquery/jquery.min.js"></script>
  <script src="static/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="static/js/clean-blog.min.js"></script>

</body>

</html>
